<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false"
                class="logo-font font-weight-bold nav-link text-black mr-5">
                View All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" id="technology" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false"
                class="logo-font font-weight-bold nav-link text-black mr-5">
                Tech
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="technology">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" id="misc" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false"
                class="logo-font font-weight-bold nav-link text-black mr-5">
                Miscellaneous
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="misc">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" id="office-equipment" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false"
                class="logo-font font-weight-bold nav-link text-black mr-5">
                Office Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="office-equipment">
                <a href="" class="dropdown-item">Price</a>
                <a href="" class="dropdown-item">Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>