html {
    height: 100%;
}

body {
    background: url('/media/dev-heaven-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Potta One', sans-serif;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-btn {
    background: white;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}


.shop-now-btn:hover,
.shop-now-btn:active,
.shop-now-btn:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background:black;
    color:white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid #000 !important;
}

.overlay {
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background:white;
    z-index: -1;
}

/* Media Queries */
/* larger on xl screens */
@media (min-width:1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed navbar onlu on medium and up */
@media (min-width:992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .header-container {
        padding-top: 164px;
    }
}